<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homme of Work</title>
  </head>
  <body>
    <img src="assets/Work-Bot.jpg" alt="">
    <p><a href="https://discord.com/api/oauth2/authorize?client_id=714133291002888192&permissions=0&scope=bot">Add me to Discord</a></p>
  </body>
</html>
